@font-face {
    font-family: "TT Lakes";
    src: local("TT Lakes Regular"), local("TT-Lakes-Regular"),
    url("font/TTLakes/TTLakes-Regular.woff") format("woff"),
    url("font/TTLakes/TTLakes-Regular.eot") format("eot"),
    url("font/TTLakes/TTLakes-Regular.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('font/TTLakes/TTLakes-Bold.eot');
    src: local('font/TTLakes/TT Lakes Bold'), local('TTLakes-Bold'),
        url('font/TTLakes/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('font/TTLakes/TTLakes-Bold.woff') format('woff'),
        url('font/TTLakes/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html {
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: inherit;
}

body {
    font-family: 'TT Lakes';
    margin: 0;
    min-width: 320px;
}

.header {
    display: flex;
    background-color: #fff;
    height: 87px;
    padding: 0;
}

.button-nav {
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    margin-top: 24px;
}

.button-nav--menu {
    margin-right: 18px;
    margin-left: 16px;
}

.button-nav--repair {
    margin-right: 16px;
    position: relative;
}

.header__rigth-buttons {
    display: flex;
}

.button-nav--call {
    display: none;
}

.button-nav--chat{
    display: none;
}

.button-nav--profile {
    display: none;
}

.logo {
    width: 96px;
    height: 50px;
    margin-top: 20px;
    margin-right: 36px;
}
.title-1 {
    display: flex;
    margin: 0;
    font-size: 28px;
    font-weight: bold;
    line-height: 40px;
    margin-bottom: 24px;
    margin-left: 16px;
}

.contetnt__link--repair, .content__link--check-status {
    display: none;
}
.title-1::before {
    content: url('img/highlight-mobile.svg');
    position: absolute;
    margin-right: 12px;
    left: 0;
}
.button-nav--repair::before {
    content: "";
    display: block;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    position: absolute;
    top: 4px;
    left: -20px;
    cursor: auto;
}

.header::after{
    content: "";
    display: block;
    position: absolute;
    min-width: 100%;
    height: 1px;
    background: #D9FFF5;
    top: 87px;
}

.content {
    background-color: #F8F8F8;
    padding-top: 24px;
}

.description {
    font-size: 14px;
}

.content__slide-menu {
    display: flex;
    font-size: 16px;
    overflow-x: scroll;
}

.content__link {
    white-space: nowrap;
    color: #7E7E82;
    font-family: "TT Lakes";
    text-decoration: none;
    padding-top: 8px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-left: 16px;
    margin-bottom: 24px;
}

.content__link:first-child {
    margin-left: 16px;
}

.content__link:hover {
    border: 2px solid #B8FFEC;
    background-color: #fff;
    border-radius: 5px;
    padding-top: 6px;
    padding-right: 8px;
    padding-bottom: 6px;
    padding-left: 14px;
}

.description__p1 {
    margin: 0 16px;
    margin-bottom: 30px;
}

.description__p2 {
    margin: 0 16px;
    margin-bottom: 16px;
}

.description__button--read-more {
    cursor: pointer;
    border: none;
    font-family: 'TT Lakes';
    font-size: 16px;
    background: transparent;
    margin-bottom: 16px;
    position: relative;
    margin-left: 24px;
    padding-left: 24px;
}

.description__button--read-more::before{
    content: url('img/ic-4/icon.svg');
    position:absolute;
    left: 0px;
}

.description__image--size {
    max-width: 320px;
}

@media (min-width: 321px) and (max-width: 784px) {

    .button-nav--menu {
        margin-right: 40px;
        margin-left: 24px;
        position: relative;
    }
    .button-nav--menu::after {
        content: "";
        display: inline;
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
        position: absolute;
        cursor: auto;
        right: -20px;
        top: 4px;
    }

    .button-nav--call, .button-nav--chat, .button-nav--profile {
        display: block;
        margin-left: 16px;
    }

    .button-nav--check-status {
        margin-right: 40px;
        margin-left: 16px;
    }

    .button-nav--repair {
        margin-right: 0;
        margin-left: 42px;
    }

    .header__rigth-buttons {
        display: flex;
        margin-left: auto;
    }

    .logo {
        margin-right: 0;
    }

    .title-1 {
        margin-bottom: 32px;
        margin-left: 24px;
    }

    .content__link:first-child {
        margin-left: 24px;
    }

    .description {
        display: flex;
        flex-wrap: wrap;
    }

    .description__all-p {
        margin-left: 8px;
        margin-right: 48px;
    }

    .description__image--size {
        max-width: 360px;
    }
}

@media (min-width: 785px) {

    .header {
        display: none;
    }

    .content {
        padding: 0;
    }

    .content__top-box {
        display: flex;
        justify-content: space-between;
    }

    .title-1::before {
        content: url('img/highlight.svg');
    }

    .title-1 {
        margin-top: 42px;
        margin-left: 34px;
    }

    .contetnt__link--repair, .content__link--check-status {
        display: flex;
        margin-right: 32px;
        text-decoration: none;
        height: 40px;
    }

    .content__links {
        display: flex;
        align-items: center;
        height: 88px;
        padding-top: 30px;
    }

    .content__link-text {
        color: black;
        margin-right: 8px;
        display: flex;
        align-items: center;
    }

    .content__link:first-child{
        margin-left: 0;
    }

    .content__link {
        padding-left: 22px;
        padding-right: 22px;
        margin-bottom: 0;
    }

    .content__link:hover {
        padding-left: 20px;
        padding-right: 20px;
    }

    .content__slide-menu {
        flex-wrap: wrap;
        margin-bottom: 16px;
        padding-left: 32px;
    }

    .description {
        display: flex;
    }

    .description__image--size {
        max-width: 532px;
    }

    .description__image {
        margin-right: 28px;
    }

    .description__all-p {
        margin-left: 18px;
        margin-right: 12px;
    }
}